<body>
  <h1 class="accounts-confirmation">アカウント</h1>
  <%= form_with model: @users do |user| %>
  <div class="form-group">
    <%= user.label :name, class: "label-group" %>
    <%= user.text_field :name %>
  </div>
  <div class="form-group">
    <%= user.label :email, class: "label-group" %> 
    <%= user.email_field :email %>
  </div>
  <div class="form-group">
    <%= user.label :password, class: "label-group" %>
    <%= user.password_field :password %>
  </div>
  <div class="form-group">
    <%= user.label :passwordconfirmation, class: "label-group" %> 
    <%= user.password_field :passwordconfirmation %>
  </div>
  <div class="form-group">
    <%= user.submit "サインイン", class: "btn btn-success registration" %>
  </div>
  <% end %>
</body>